
/* 제목 css */
.rsrv-title-container {
    margin: 0px -3%;
}

/* 왼쪽 컨테이너 css */
.rsrv-container .left-container {
    position: relative !important;
    width: 50% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

/* 오른쪽 컨테이너 css */
.rsrv-container .right-container {
    position: relative !important;
    width: 41.6667% !important;
    margin-left: 8.33333% !important;
    margin-right: 0 !important;
}

.rsrv-container .acm-img-thumbnail {
    width: 100px;
    height: 100px;
}

.radius_12 {
    border-radius: 12px;
}

.btn-none {
    background: none;
    border: none;
}

.w-90 {
    width: 90%;
}

/* 예약 요청 뒤로 가기 버튼 */
.rsrv-back-circleBtn:hover {
    border-radius: 50%;
    /*transform: translate(-50%, -50%);*/
    background-color: #ededed;
}

.rsrv-container .right-container .dropdown-menu {
    width: 100%;
    max-width: 390px;
}

.rsrv-btn-div {
    position: relative;
    top: 20px;
}

/* 폰트 사이즈 */
.fs-10 {
    font-size: 10pt;
}

/* 박스 css */
.box-border {
    background: white;
    border: 1px solid #c9C9C9;
    padding: 15px;
    border-radius: 5pt;
}

/* 배경 회색 + 컨테이너 */
.bckc-gray {
    background-color: #ededed;
    border-radius: 5pt;
}

.rsrv-container textarea {
    resize: none;
    width: 100%;
}

.margin-auto {
    margin: 0px auto;
}
.h-50px {
    height: 50px;
}

.top-180 {
    top: 180px;
}

.f-blue {
    color: #0D6EFD;
}

.max-w-700 {
    max-width: 700px;
}

.f-gray {
    color: #a0a0a7;
}

.btn-pink {
    background-color: #ff3665 !important;
    border: none;
}
.btn-pink:hover, .btn-pink:active, .btn-pink:visited {
    background-color: #ff4c76 !important;
}

.btn-gray {
    background-color: #dedede !important;
    color: black;
    border: none;
}
.btn-gray:hover, .btn-gray:active, .btn-gray:visited {
    background-color: #cacaca !important;
    color: black;
}


.btn-outline-dark:hover, .btn-outline-dark:active, .btn-outline-dark:visited {
    background-color: #dddddd !important;
}

.text-red {
    color : rgb(197, 56, 41);
}

/* form 입력창 label 위로 올라가는 기능 */


.form-item{
    position: relative;
    margin-bottom: 15px
}
.form-item input{
    display: block;
    width: 100%;
    height: 30pt;
    background: transparent;
    border: solid 1px #ccc;
    border-radius: 5pt;
    transition: all .3s ease;
    padding: 0 15px
}

.form-item label{
    position: absolute;
    cursor: text;
    z-index: 2;
    top: 10px;
    left: 10px;
    font-size: 12px;
    font-weight: bold;
    background: #fff;
    padding: 0 10px;
    color: #999;
    transition: all .3s ease
}

/* 값이 입력되져서 label이 올라갔을때 */
.form-item input:valid {
    border-color : mediumseagreen;
}
.form-item input:valid + label {
    font-size: 11px;
    top: -5px;
    color: mediumseagreen;
}

/* input 창 hover */
/*
.form-item input:hover {
    border-color: mediumblue;
    background-color: #e8f5ff;
    color: mediumblue;
}
.form-item input:hover + label {
    color: mediumblue;
    background-color: transparent;
}
*/
/*background-image: linear-gradient(to top, #e8f5ff 70%, white 30%);*/


/* 선택해서 값 입력중일때 label 상태 */
.form-item input:focus {
    outline: none;
    border: 1px solid #4545f8; /* outline 테두리 속성 수정 */
    background-color: white;
}
/* 선택해서 label이 올라갔을때 */
/* 선택해서 값 입력중일때 label 상태 */
.form-item input:focus + label {
    font-size: 11px;
    top: -5px;
    color: #4545f8;
    background-color: white;
}

/* select2 */
 .select2-container {
    width: 100% !important;
}
.select2-container--default .select2-selection--single {
    height: 30pt;
    padding-top: 4px;
    border-radius: 5pt;
    border: solid 1px #ccc;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 5px;
}

/* 내 예약 페이지 */
.myReservation-tabs .nav.nav-pills {
    justify-content: center;
}
.myReservation-tabs .nav-link {
    color: black;
    border-radius: 0;
}

.myReservation-tabs .nav-pills {
    --bs-nav-pills-link-active-color: #0d6efd;
    --bs-nav-pills-link-active-bg: #fff;
}

.myReservation-tabs .nav-link.active {
    border-bottom: 5px solid #0d6efd;
}

/* tab contents */
.myReservation-tabs .tab-content {
    border-top: 1px solid rgb(241, 241, 241);
    border-radius: 5pt;
    padding: 20pt;
}